<form class="form" [formGroup]="authForm">


    <div>
        <h1 class="title">Вход</h1>

        <div>
            <input
                formControlName="username"
                [class.invalid]="!authForm.controls['username'].valid"
                class="input"
                type="text"
                placeholder="Username">
        </div>

        <div>
            <input
                formControlName="password"
                [class.invalid]="!authForm.controls['password'].valid"
                class="input"
                type="password"
                placeholder="Password">
        </div>

        <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>

        <button
            [class.disabled]="!authForm.valid"
            (click)="signIn()"
            class="sign-in"
            [disabled]="!authForm.valid">Войти</button>
    </div>
</form>
